.container header{
    color: hsla(30, 70%, 30%, 0.7);
}

.nav_ul{
   margin: 0px; padding: 0px;
   width: 800px;
   height: 40px;
   border: 1px 1px 0px 1px solid white;
   background-color: hsla(30, 70%, 30%, 0.7);
}

.nav_ul li{
    display: block;
    position: relative;
    float: left;
    width: 80px;
    padding: 10px 40px 10px 40px;
    text-align: center;
}

.nav_ul li:hover {
    background-color: hsla(30, 70%, 30%, 0.6);
}

.nav_ul > li > ul{
    display: none;
    position: absolute;
    left: 0px;
    top: 40px;
    width: 160px;
    padding: 0px;
}

.nav_ul > li > ul > li {
    width: 160px;
    padding: 10px 0px 10px 0px;
}

.nav_ul > li:hover ul{
    display: block;
    width: 160px;
    background-color: hsla(30, 70%, 30%, 0.6);
}

.container .nav_content{
    width: 798px;
    height: 500px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}
