body{
    width: 500px;
    height: 700px;  

    margin: 0px auto;
}
.container{
    width: 90%;
    height: 100%;

    margin: 10px auto;

    background-color: #333333;
    border-radius: 30px;

    text-align: center;
}
h2{
    height: 5%;

    margin: 0px;
    padding: 15px;

    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;

    color: white;
    text-shadow: 0px 0px 2px;   
}

.content{
    width: 90%;
    height: 83%;

    margin: 0px auto;

    border-radius: 10px;
    background-color:beige;
}

.main_ul{
    margin: 0px; padding: 5px;
}
.main_li{
    margin: 15px auto;
    padding: 10px;

    width: 80%;

    background-color: hsla(20, 30%, 70%, 0.8);
    border: 2px solid #333333;
    border-radius: 10px;

    list-style: none;
}
.content-input{
    height: 8%;

}

.content-input input{
    height: 25px;

    margin: 10px 0px;

    text-align: center;
    border-radius: 5px;
    border-style: solid;
}
